@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/apple-chancery');

body {
    font-family: 'Roboto Mono'; /* change font here */
    font-weight: 400; /* change density of font here ex. 100, 200, 300, 400, 500 */
    background-color: rgb(245, 245, 245); /* change background color here */
    color: #333; /* change text color here*/
    margin: 0 auto;
    padding: 0;
    width: 80%;
    padding-bottom: 50px;
    background-image: url(images/bg.jpeg);
}

h1 {
    color: red; /* change color of title text here */
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    font-family: "Roboto Mono", sans-serif;
}
h2{
    margin-top: 0;
}

p {
    font-size: 16px; /* change size of text here */
}

 .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.image {
    width: 150px;
    height: auto;
    object-fit:contain;
    cursor: pointer;
    padding: 10px;
}

.media-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    background-color: #ffffff88; /* change background color of media gallery/instances here */
    padding: 30px;
}
.media {
    width: 150px;
    height: auto;
    cursor: pointer;
    display: flex;
    padding: 10px;
    float: left;
}

label,
input[type="text"],
select {
    font-family: "Roboto Mono", sans-serif; /* Replace "Roboto" with your desired font */
    
}

.filter-button {
    font-family: "Roboto Mono", sans-serif; /* Replace "Orbitron" with your desired font */
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: red;
}


a:hover h1{
    font-family: "Apple Chancery", sans-serif;
}

a:visited{
    color: red;
}

.top-nav {
    display:flex;
    align-items: center;
    padding-top: 1em;
    color: red;
    font-size: 30px;
    margin: 0 auto;
}


.title-nav{
    margin-left: auto;
    margin-right: auto;
}

.right-nav{
    margin-left: auto;
}

.right-nav a{
    padding-left: 3px;
}

.right-nav a:hover{
    padding-left: 0px;
    font-family: 'Apple Chancery', sans-serif;
}

.left-nav{
    margin-right: auto;
}

.left-nav a{ 
    padding-right: 20px;
}

.left-nav a:hover{
    padding-right: 0px;
    font-family: 'Apple Chancery', sans-serif;
}

.bottom-left-nav {
    position: fixed;
    left: auto;
    bottom: 40px;
    font-size: 30px;
}

.filter-box{
    background-color: #ffffff88; /* change background color of filter box here */
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;

}

.media-container {
    display: flex; /* Use flex to align media and text side by side */
    align-items: flex-start; /* Align items to the top within the container */
    overflow-wrap: break-word; /* Allow text to wrap to the next line */
}



.text-box {
    display: none;
    padding-left:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    position: relative;
    width: 120px;
    font-size: 15px;
    height: 100%;
    overflow-wrap: break-word; /* Allow text to wrap to the next line */
    overflow: hidden;
}


.bordered {
    background-color: #ffffff88; /* change background color of media box / opened text box here */
    min-height: 500px;
}

a img .top-nav{
    font-family: Arial, Helvetica, sans-serif;
}

.top-left-nav.active{
    font-family: "Apple Chancery", sans-serif;
}

.top-right-nav.active{
    font-family: "Apple Chancery", sans-serif;
}

.bottom-left-nav.active{
    font-family: "Apple Chancery", sans-serif;
}
h5.tags{
    position: absolute;
    bottom: 5px;
    font-size: 15px;
}

h4.design{
    position: relative;
    top:-50px;
    font-weight: 400;
    overflow-wrap: break-word; /* Allow text to wrap to the next line */
    overflow: hidden;
}

button.tag-button{
    border: none;
    background-color: #ffffff88;
    text-decoration: underline;
    font-style: italic;
}
button.tag-button:hover{
    color: red;
}

.text-box p{
    height: fit-content;
    max-height: 100%; /* Set a maximum height for the text content */
    overflow-wrap: break-word; /* Allow text to wrap to the next line */
    overflow: hidden;
}

.about img{
    vertical-align: center;
    margin: 0 auto;
}
#menuToggle
    {
    display: none;
    }






@media screen and (max-width: 600px) {
    .top-nav{
        display: none;
    }

    .top-nav .title-nav{
        display: block;
    }
    .bottom-left-nav{
        display: none;
    }
    #menuToggle
    {
        margin: 0;
        display: block;
        position: relative;
        top: 10px;
        left: 0px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #menuToggle a
    {
    text-decoration: none;
    color: red;
    
    transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
    color: tomato;
    }

    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: red;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: red;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu
    {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul
    {
    transform: none;
    }
    
  }

